nav {
  position: fixed;
  width: 100%;
  top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

.logo h1 a {
  text-decoration: none;
  color: #fd5c4f;
}
.logo h1 a:hover {
  text-decoration: none;
  color: #001;
}

.nav_links ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0.5rem 0.4rem;
}
li a {
  text-decoration: none;
  color: #001;
  font-weight: 600;
}
li a:hover,
li a:active {
  color: #fd5c4f;
}
.auth_links ul {
  display: flex;
  list-style: none;
}

.auth_link {
  text-decoration: none;
  color: #001;
  font-weight: 300;
}

.auth_link:hover {
  cursor: pointer;
  color: #fd5c4f;
}

.menu {
  display: none;
}

@media (max-width: 760px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  .nav_links,
  .auth_links {
    display: none;
  }
  .menu {
    display: contents;
    font-size: 1.6rem;
  }
  .menu:hover {
    color: #fd5c4f;
    cursor: pointer;
  }

  .responsive {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    transform: 100vh;
    transition: all 0.5s;
  }
  .responsive > .nav_links,
  .responsive > .auth_links {
    display: flex;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin-top: 20px;
  }
  .responsive-menu {
    border: none;
    background: transparent;
    font-size: 1.9rem;
    color: #fd5c4f;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
  }
  .responsive-menu:hover {
    color: #fd5c4f;
    cursor: pointer;
  }
} ;
